@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply lg:text-7xl text-left text-6xls lg:my-8 my-6;
    font-stretch: expanded;
  }
  h2 {
    @apply lg:text-6xl text-4.5xls;
    font-stretch: expanded;
  }
  h3 {
    @apply lg:text-4xl text-3xls;
    font-stretch: expanded;
  }
  h5 {
    @apply text-xls lg:text-2xl;
    font-stretch: expanded;
  }
  p {
    @apply lg:text-1.5xl lg:text-justify lg:font-black [font-stretch:expanded] text-lgs text-left;
  }
  ol {
    @apply list-inside list-decimal;
    font-stretch: normal;
  }
  li {
    @apply max-md:text-justify my-1 normal-case;
    font-stretch: normal;
  }
}

@layer components {
  /* Rotating X bg  */
  .bg-rotatingx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .bg-rotatingx::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    transform: skewX(0deg);
    transition: 0.3s;
  }

  .bg-rotatingx:hover:before,
  .bg-rotatingx:hover:after {
    transform: skewX(24deg) scaleX(0.35);
  }
  .bg-rotatingx:before,
  .bg-rotatingx:after {
    @apply bg-ted;
  }
  .bg-rotatingx > .x2 {
    height: 100%;
    width: 100%;
  }
  .bg-rotatingx > .x2:hover:before,
  .bg-rotatingx > .x2:hover:after {
    transform: skewX(-24deg) scaleX(0.35);
  }

  .x2 > .content {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
    transform: 0.5s;
    color: #fff;
    transition: 0.2s;
  }

  /* Glowing border */
  .border-glow {
    border: 1px white;
    border-style: solid;
    border-radius: 3px;
    box-shadow: red 0px 0px 15px, white 0px 0px 1px, white 0px 0px 3px,
      red 0px 0px 15px inset, white 0px 0px 1px inset, white 0px 0px 3px inset;
  }
  .borderb-glow {
    border: 2px white;
    border-bottom-style: solid;
    box-shadow: red 0px 0px 15px, white 0px 0px 1px 1px, white 0px 0px 3px,
      red 0px -10px 15px -8px inset, white 0px 6px 1px -6px inset,
      white 0px 4px 3px -6px inset;
  }

  /* glowing text */
  .glow {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 10px red, -2px 2px 10px red, 2px -2px 10px red,
      -2px -2px 10px red, 2px 2px 20px rgba(255, 0, 0, 0.5),
      -2px 2px 20px rgba(255, 0, 0, 0.5), 2px -2px 20px rgba(255, 0, 0, 0.5),
      -2px -2px 20px rgba(255, 0, 0, 0.5), 0px 0px 5px white;
  }

  /* glowing button */
  .glow-button {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(255, 0, 0, 0.781);
    --enhanced-glow-color: rgb(255, 206, 206);
    --btn-color: rgb(104, 0, 0);
    border: 2px solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }

  .glow-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  .glow-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }

  .glow-button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }
}

/* Fonts */
@font-face {
  font-family: acumin-pro;
  font-weight: 200;
  font-stretch: normal;
  src: url(./resources/fonts/acumin-pro-extralight-webfont.woff2)
      format("woff2"),
    url(./resources/fonts/acumin-pro-extralight-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 300;
  font-stretch: normal;
  src: url(./resources/fonts/acumin-pro-light-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-light-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 400;
  font-stretch: normal;
  src: url(./resources/fonts/acumin-pro-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 800;
  src: url(./resources/fonts/acumin-pro-black-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-black-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 900;
  src: url(./resources/fonts/acumin-pro-black-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-black-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 800;
  font-stretch: expanded;
  src: url(./resources/fonts/acumin-pro-wide-black-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-wide-black-webfont.woff) format("woff");
}
@font-face {
  font-family: acumin-pro;
  font-weight: 900;
  font-stretch: expanded;
  src: url(./resources/fonts/acumin-pro-wide-ultrablack-webfont.woff2) format("woff2"),
    url(./resources/fonts/acumin-pro-wide-ultrablack-webfont.woff) format("woff");
}

body {
  margin: 0;
  font-family: acumin-pro, Impact, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-main text-main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
